$backgroundColor: #fff;
$fontFamily: sans-serif;
$navFontSize: 1em;
$paragraphFontSize: 1em;
$headerFontSize: 1em;
$aboutHeaderFontSize: 1em;
$lineHeight: 1.7em;

$lineColor: #617d8a;
$linkColor: #1fbcd3;

$borderColor: #1fbcd3;
$placeholderColor: #1fbcd3;

$backgroundArticleColor: #efefef;
$detailsColor: #159587;
$headerColor: #1697a6;
$paragraphColor: #64818c;

$aboutHeaderColor: #1fbcd3;
$formColor: #7e7575;
$buttonColor: #1fbcd3;

$hoverColor: #fc5830;