$backgroundColor: #efefef;
$fontFamily: serif;
$navFontSize: 1.1em;
$paragraphFontSize: 1.3em;
$headerFontSize: 1.4em;
$aboutHeaderFontSize: 1.7em;
$lineHeight: 1.3em;

$lineColor: #cfd8dc;
$linkColor: #fc5830;

$borderColor: #fc5830;
$placeholderColor: #fc5830;

$backgroundArticleColor: #fff;
$detailsColor: #bdbdbd;
$headerColor: #617d8a;
$paragraphColor: #75757f;

$aboutHeaderColor: #fc5830;
$formColor: #7e7575;
$buttonColor: #fc5830;

$hoverColor: #1fbcd3;